{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Post
{% endblock title %}

{% block content %}
   <h1>Все статьи</h1>
   <hr>
   {# Добавляем форму, которая  объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       <table>{{ filterset.form.as_table }}</table>
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>



   {% if post %}
       <h3> Количество статей: {{ post|length }}</h3>
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Первые 20 символов</td>
           </tr>
           {% for p in post %}
           <tr>
               <!-- Накладываю фильтр -->
               <td>

                   <a href="{% url 'article_detail' pk=p.id %}">{{ p.heading }} </a>
               </td>
               <td>{{ p.time_create|date:'d.m.Y' }}</td>
               <!-- вывод первых 20 символов поля. Можно было переделать через preview и вызвать p.preview -->

               <td>{{ p.content|censor }}</td>
           </tr>
           {% endfor %}
       </table>

   {#======================================================#}
   {# Добавляем пагинацию на страницу #}
   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
            {# пример без фильтра   <a href="?page=1">1</a> #}
    <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
            {# пример без филь/тра <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a> #}
    <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
            {# пример без фильтра <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a> #}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           {# пример без фильтра <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a> #}
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
   {#======================================================#}


   {% else %}
       <h2>Статей нет!</h2>
   {% endif %}
{% endblock content %}

