{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
Post
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>
   <hr>
   {% if post %}
       <h3> Количество новостей: {{ post|length }}</h3>
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Первые 20 символов</td>
           </tr>
           {% for p in post %}
           <tr>
               <!-- Накладываю фильтр -->
               <td>

                   <a href="{% url 'det' pk=p.id %}">{{ p.heading }} </a>
               </td>
               <td>{{ p.time_create|date:'d.m.Y' }}</td>
               <!-- вывод первых 20 символов поля. Можно было переделать через preview и вызвать p.preview -->

               <td>{{ p.content|censor }}</td>
           </tr>
           {% endfor %}
       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% endblock content %}

