<!--  наследуемся от шаблона default.html, который мы создавали для flatpages-->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}
<!-- Название у нас будет Product -->
{% block title %}
Подробно
{% endblock title %}



{% block content %}
   <h1>Детальная информация</h1>
   <hr>
   {% if post %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Полный текст</td>
           </tr>
           <tr>
               <td>{{ post.heading }}</td>
               <td>{{ post.time_create|date:'d.m.Y' }}</td>
               <td>{{ post.content|censor }}</td>
           </tr>
       </table> <!-- ... и таблицы -->
        <h2>Другой формат вывода </h2>
        <hr>
        <h3>Заголовок:  <i>{{ post.heading }}</i></h3>
        <h3>Дата публикации:  <i>{{ post.time_create|date:'d.m.Y' }}</i></h3>
        <h3>Полный текст:  <i>{{ post.content|censor }}</i></h3>
   {% else %}
       <h2>Такого поста нет!</h2>
   {% endif %}
{% endblock content %}